<!DOCTYPE html>
<head>
    <title>Voting form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
<div class="testbox">
    <form action="/">
        <div class="banner">
            <h1>VoteChain</h1>
        </div>
        <div class="item">
            <label for="name">Your Public Key<span class="red"></span></label>
            <div class="name-item">
                <input id="public_key" type="text" name="name" placeholder="{{public_key}}", value="{{public_key}}" readonly/>
               </div>
            <label for="name1">Your Private Key<span class="red">*</span></label>
              <div class="name-item">
                <input id="private_key" type="text" name="name1" placeholder="{{private_key}}", value="{{private_key}}" readonly/>
            </div>
        </div>
        <div class="question">
            <label>Vote</label>
            <div class="question-answer">

                <div>
                    <input type="radio" value=0 id="radio_1" name="candidate"/>
                    <label for="radio_1" class="radio"><span>Владимир</span></label>
                </div>
                <div>
                    <input type="radio" value=1 id="radio_2" name="candidate"/>
                    <label for="radio_2" class="radio"><span>Путин</span></label>
                </div>
                <div>
                    <input type="radio" value=2 id="radio_3" name="candidate"/>
                    <label for="radio_3" class="radio"><span>Молодец</span></label>
                </div>
                <div>
                    <input type="radio" value=3 id="radio_4" name="candidate"/>
                    <label for="radio_4" class="radio"><span>Политик</span></label>
                </div>
                <div>
                    <input type="radio" value=4 id="radio_5" name="candidate"/>
                    <label for="radio_5" class="radio"><span>Лидер</span></label>
                </div>
                <div>
                    <input type="radio" value=5 id="radio_6" name="candidate"/>
                    <label for="radio_6" class="radio"><span>И. Борец</span></label>
                </div>
            </div>
        </div>
        <div class="btn-block">
            <button id="btnSubmit" type="button">Send</button>
        </div>
    </form>
</div>
</body>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>

<script>
    $(document).ready(function () {
        function button_handler() {
            const payload = {
                private_key: document.getElementById('private_key').value,
                vote: $("input[name='candidate']:checked").val(),
            };
            $.ajax({
                type: 'POST',
                url: './vote',
                data: payload,
                async: false,
                content_type: 'application/json;charset=UTF-8',
                statusCode: {
                    200: function (response) {
                        location.href =  'final';
                  },
                  400: function (response) {
                      location.href = 'error';
                  },
            }});
            return false;
        }
        $('#btnSubmit').click(function () {
            button_handler();
        });
    });
</script>